nav {
    background-color: black;
    color: white;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 0 2rem;
    margin-bottom: 1rem;
}

h2 {
    padding: 0;
    margin: 0 !important;
}

.links-ul {
    display: flex !important;
    list-style-type: none !important;
    justify-content: space-evenly !important;
    gap: 1rem;
    padding: 0 !important;
}

.links-ul li {
    margin: 0 !important;
    padding: 0 !important;
}

.links-ul li a {
    color: white !important;
    font-size: 1.5rem;
}

.links-ul li a:hover {
    color: dodgerblue !important;
}